@model ICB.Business.Models.News
@{
    ViewBag.Title = Model.Caption;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<ICB_Website.UI.Models.Breadcrumb> list = new List<ICB_Website.UI.Models.Breadcrumb>();
    list.Add(new ICB_Website.UI.Models.Breadcrumb { ID = 1, Name = ICB_Website.UI.Resources.RHome.News, URL = Url.Action("Index", "news") });
    list.Add(new ICB_Website.UI.Models.Breadcrumb { ID = 2, Name = Model.Caption, URL = "#" });
    ViewBag.Breadcrumb = list;
}
@section TopSlider{
    @Html.Partial("_sectionSlider")
}
<style>
    
</style>

<div class="kopa-entry-post">
    <div class="kopa-entry-post">

        @if (Model != null)
        {
            <header class="clearfix">
                <h4 class="entry-title">@Model.Caption</h4>
                <div class="entry-meta clearfix">
                    <p class="entry-date">@ICB_Website.UI.Resources.RHome.Posted:<span>@Model.PostedDate</span></p>
                    <p class="entry-categories">in:&nbsp;<a href="#" rel="category">People</a></p>
                    <p class="entry-comment"><a href="#">No Comment</a></p>
                </div>
                <div class="kopa-social-link">
                    <ul class="clearfix">
                        <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                        <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                        <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                        <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                    </ul>
                </div>
            </header>
            <div class="entry-content">
                <div class="entry-content">
                    <div id="lipsum">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        }


        <div class="single-post-bottom">
            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>
            <div class="kopa-tag-box">
                <ul class="clearfix">
                    <li><a class="entry-tag" href="indexc7e9.html?tag=post" title="View all in post">post</a></li>
                    <li><a class="entry-tag" href="indexecab.html?tag=standard" title="View all in standard">standard</a></li>
                </ul>
            </div>
        </div>

        <div class="kopa-recent-post">
            <h3 class="recent-title">Related articles</h3>
            <ul class="clearfix">
                @{
                    List<ICB.Business.Models.News> relatedPost = (List<ICB.Business.Models.News>)ViewData["REALTEDPOST"];
                }

                @foreach (var item in relatedPost)
                {
                    <li>
                        <article class="entry-item">
                            <div class="entry-content">
                                <header>
                                    <h4 class="entry-title"><a href="@Url.Action("Detail","news",new { id=item.ID})" title="@item.Caption">@item.Caption</a></h4>
                                    <p class="entry-date">@ICB_Website.UI.Resources.RHome.Posted:<span>@item.PostedDate</span></p>
                                </header>
                                <p>@item.ContentReview</p>
                            </div>
                        </article>
                    </li>
                }
            </ul>
        </div>
        <!--/kopa-recent-post-->

        <div class="kopa-author clearfix">
            <span></span>
            <a class="avatar-thumb" href="#" title=""><img alt='' src='http://0.gravatar.com/avatar/?s=91&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/?s=182&amp;d=mm&amp;r=g 2x' class='avatar avatar-91 photo avatar-default' height='91' width='91' /></a>
            <div class="author-content media-body">
                <div class="author-social-link">
                    <div class="kopa-relative">
                    </div>
                </div>

                <header class="clearfix">
                    <div class="pull-left">
                        <h5 class="author-name"><a href="#" title=""></a></h5>
                    </div>
                </header>
            </div>
        </div>
        <!--/kopa-about-author-->
    </div>

    <div id="comments">
        <div id="respond">
            <h4 id="reply-title" class="comment-reply-title clearfix">Leave a Reply</h4>
            <p class="must-log-in">You must be <a href="#">logged in</a> to post a comment.</p>
        </div><!-- #respond -->
    </div>
</div>

