@model ICB.Business.Models.Service
@{
    ViewBag.Title = "Admin: Cập nhật dịch vụ";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div data-controller="service">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Cập nhật dịch vụ</h3>
        </div>
        <div class="box-body">
            <a id="lnk-list-vanban" href="@Url.Action("Index","service", new { area="admin"})"></a>
            <span>@Html.ValidationMessage("message") </span>
            @Html.ValidationSummary(true)
            <form id="frm-service-edit" onsubmit="" action="@Url.Action("EditPOST","service",new { area="admin" })" method="post" novalidate>
                @Html.HiddenFor(x=>x.ID)
                @Html.HiddenFor(x => x.Status)
                <div class="row">
                    <div class="col-md-7 col-lg-9">
                        <div class="row">
                            <div class="col-md-8 ">
                                <div class="form-group">
                                    <label class="control-label">Tên dịch vụ: <span class="text-required">(*)</span></label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div>
                                        <label class="checkbox"> @Html.CheckBoxFor(x => x.HasChild, new { @id = "ckbHasChild" }) Nhóm dịch vụ</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tên dịch vụ(ENG): </label>
                                    <div class="">
                                        @Html.TextBoxFor(x => x.NameENG, new { @class = "form-control", @id = "txtNameENG" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nhóm: <span class="text-required">(*)</span></label>

                                    <select class="form-control valid" data-val="true" data-val-number="The field CategoryID must be a number." data-val-required="Bạn chưa chọn nhóm" id="CategoryID" name="CategoryID" aria-required="true" aria-describedby="CategoryID-error" aria-invalid="false">
                                        @foreach (var item in (List<SelectListItem>)ViewBag.Category)
    {
                                    <option value="@item.Value" @if (item.Selected) { <text> selected="selected"</text> }>@item.Text</option>
}
                                        
                                    </select>
                                    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group control-hide" @if (Model.HasChild) { <text> style="display:none;"</text> }>
                                    <label class="control-label">Mô tả ngắn: </label>
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "5", @id = "txtDescription" })
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Ảnh đại diện: <span class="text-required">(*)</span></label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div>
                                        <img class="img-thumbnail" style=" min-height:100px; max-height:300px; margin-bottom: 10px;" src="@Model.ThumbnailURL">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">

                                                    @Html.TextBoxFor(x => x.ThumbnailURL, new { @id = "image", @class = "form-control", @readonly = "readonly" })
                                                    <div class="input-group-btn">
                                                        <a id="browser" class="btn btn-primary" data-dismiss="fileupload">Duyệt ảnh...</a>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.ThumbnailURL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group control-hide" @if (Model.HasChild) { <text> style="display:none;" </text> }>
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabnoidung_1" data-toggle="tab" aria-expanded="true">Giới thiệu</a></li>
                                    <li class=""><a href="#tabnoidung_2" data-toggle="tab" aria-expanded="false">Quy trình thực hiện</a></li>
                                    <li class=""><a href="#tabnoidung_3" data-toggle="tab" aria-expanded="false">Tài liệu liên quan</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabnoidung_1">
                                        @Html.TextAreaFor(x => x.Introduction, new { @id = "txtIntroduction" })
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tabnoidung_2">
                                        @Html.TextAreaFor(x => x.Procedure, new { @id = "txtContent" })
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tabnoidung_3">
                                        @Html.TextAreaFor(x => x.DocumentView, new { @id = "txtDocumentView" })
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" id="btn-tintuc-save" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Lưu</button>
                        <button type="button" id="btn-tintuc-delete" data-id="@Model.ID" onclick="DICHVU_DELETE_ACTION(this);" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;&nbsp;Xóa</button>
                        <button type="button" class="btn btn-default" id="btn-tintuc-cancel"><i class="fa fa-remove"></i>&nbsp;&nbsp;Hủy</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        CKEDITOR.replace('txtContent', {
            customConfig: '/Plugins/ckeditor/config.js',
            height: 300
        });

        CKEDITOR.replace('txtIntroduction', {
            customConfig: '/Plugins/ckeditor/config.js',
            height: 300
        });
        CKEDITOR.replace('txtDocumentView', {
            customConfig: '/Plugins/ckeditor/config.js',
            height: 300
        });
        CKFinder.setupCKEditor(null, '/ckfinder')
        $('#ckbHasChild').on('ifChanged', function (e) {
            if ($(this).is(':checked')) {
                $('#frm-service-edit .control-hide').hide();
                SERVICE_LOADGroup(1);
            } else {
                $('#frm-service-edit .control-hide').show();
                SERVICE_LOADGroup(2);
            }

        });
        
        $('#browser').click(function () {
            var ckfinder = new CKFinder();

            ckfinder.selectActionFunction = function (url, a, b) {
                var decodedUri = decodeURIComponent(url);
                $(".img-thumbnail").attr('src', decodedUri);
                $("#frm-service-edit [name=ThumbnailURL]").attr({ 'value': decodedUri });
            }
            ckfinder.popup();
        });
       
    });

</script>

