@model List<ICB.Business.Models.Service>
@{
    ViewBag.Title = "Admin: Quản lý dịch vụ";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div data-controller="service">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Danh sách dịch vụ</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 margin-bottom">
                    <a href="@Url.Action("Create","Service",new { area="admin" })" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</a> 
                </div>
            </div>
            <table class="table table-striped jambo_table table-bordered dt-responsive no-wrap" id="SERVICE_ALLSERVICE">
                <thead>
                    <tr>
                        <th width="100"></th>
                        <th>Tên dịch vụ</th>
                        <th>Tiêu đề</th>
                        <th>Hình ảnh</th>
                        <th>Nhóm</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.ID">
                            <td style="width:60px !important"><input type="checkbox" class="flat" value="@item.ID" name="table_records" /></td>
                            <td>@item.Name</td>
                            <td>@item.Caption</td>
                            <td><img class="img-thumbnail" width="70" height="50" alt="@item.ThumbnailURL" title="@item.Title" src="@item.ThumbnailURL" /> </td>
                            <td>@item.CategoryID</td>
                            
                            <td><span @if (item.Status == 1) { <text> class="icheckbox_minimal-blue checked" </text> } else { <text> class="icheckbox_minimal-blue" </text>     }> </span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

