@model List<ICB.Business.Models.Account>
@{
    ViewBag.Title = "Admin: Quản lý tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div data-controller="account">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Danh sách tài khoản</h3>
            
        </div>
        <div class="box-body">

            <table class="table table-striped jambo_table table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkboxall flat" /> </th>
                        <th>Tên đăng nhập</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th>Quyền</th>
                        <th>Chấp thuận</th>
                        <th>Đã khóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="flat" value="@account.ID" name="table_records"></td>
                            <td>@account.Username</td>
                            <td>@account.Fullname</td>
                            <td>@account.Email</td>
                            <td>@account.CreateTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@account.Role</td>
                            <td><input type="checkbox" @if (account.IsActive) { <text> checked="checked" </text>  } /></td>
                            <td><input type="checkbox" @if (account.IsLocked) { <text> checked="checked" </text>   } /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            APPLICATION.CreateDataTable($('table'),
                [
                    {
                        text: '<i class="fa fa-plus"></i>&nbsp;Thêm mới',
                        action: function () {
                            $('#modal-account').modal({ backdrop: 'static', keyboard: false, show: true });
                        }
                    },
                    {
                        text: '<i class="fa fa-edit"></i>&nbsp;Sửa',
                        action: function () {
                            $('#modal-account').modal("show");
                        }
                    },
                    {
                        text: '<i class="fa fa-trash"></i>&nbsp;Xóa',
                        action: function () {

                        }
                    },
                    {
                        text: '<i class="fa fa-refresh"></i>&nbsp;Làm mới',
                        action: function () {

                        }
                    }
                ], true);
        });
    </script>
    }
<div class="modal fade" id="modal-account">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

