@model ICB.Business.Models.Service
@{
    ViewBag.Title = Model == null ? "" : Model.Caption;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<ICB_Website.UI.Models.Breadcrumb> list = new List<ICB_Website.UI.Models.Breadcrumb>();
    list.Add(new ICB_Website.UI.Models.Breadcrumb { ID = 1, Name = ICB_Website.UI.Resources.RHome.Services, URL = "#" });
    list.Add(new ICB_Website.UI.Models.Breadcrumb { ID = 2, Name = Model.Caption, URL = "#" });
    ViewBag.Breadcrumb = list;
}

@section TopSlider{
    @Html.Partial("_sectionSlider")
}
<div class="kopa-entry-post">
    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        @if (Model != null)
        {
            <header class="clearfix">
                <h4 class="entry-title">@Model.Caption</h4>
                <div class="entry-meta clearfix">
                    <p class="entry-date">@ICB_Website.UI.Resources.RHome.Posted:<span>@Model.CreateTime</span></p>
                    <p class="entry-categories">in:&nbsp;<a href="#" rel="category">People</a></p>
                    <p class="entry-comment"><a href="#">No Comment</a></p>
                </div>
                <div class="kopa-social-link">
                    <ul class="clearfix">
                        <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                        <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                        <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                        <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                    </ul>
                </div>
            </header>
            <div class="entry-content">

                

                <div class="entry-content">
                    <div id="lipsum">
                        <div class="block-tab">
                            <ul>
                                <li data-tab="1" class="active-tab">Giới thiệu</li>
                                <li data-tab="2" class="">Quy trình thực hiện</li>
                                <li data-tab="3" class="">Tài liệu liên quan</li>
                            </ul>
                        </div>
                        <div class="block-content-tab item-tab1 active-content">
                            @Html.Raw(Model.Introduction)
                        </div>
                        <div class="block-content-tab item-tab2">
                            @Html.Raw(Model.Procedure)
                        </div>
                        <div class="block-content-tab item-tab3">
                            @Html.Raw(Model.DocumentView)
                        </div>
                        
                    </div>
                    </div>
            </div>
        }
        <!--/kopa-about-author-->
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.block-tab li').click(function () {
                $('.block-tab li').removeClass('active-tab');
                $(this).addClass('active-tab');
                id_tab = $(this).attr("data-tab");
                $('.block-content-tab').removeClass('active-content');
                $('.item-tab' + id_tab).addClass('active-content');


            })
        });
    </script>
    }


