@model ICB.Business.Models.Document
@{
    ViewBag.Title = "Admin: Chỉnh sửa văn bản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Chỉnh sửa văn bản";
    ViewBag.ContentName = "Chỉnh sửa văn bản";
}
<div data-controller="document">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Thông tin chi tiết văn bản</h3>

        </div>
        <div class="box-body">
            <a id="lnk-list-vanban" href="@Url.Action("vanban","document", new { area="admin"})"></a>
            <form id="frm-vanban-edit" onsubmit="return false;" novalidate>
                
                @Html.HiddenFor(x=>x.ID)
                @Html.HiddenFor(x => x.CategoryID)
                @Html.HiddenFor(x => x.UserIDCreated)
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Tiêu đề: <span class="text-required">(*)</span></label>
                                    @Html.TextBoxFor(x=>x.Caption, new { @class="form-control" })
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Ngày đăng: <span class="text-required">(*)</span></label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.CreateTime, new { @class = "form-control datetimepicker",@Value= DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Trạng thái:</label>
                                    <div>
                                        <label class="radio">
                                            @if (Model != null)
                                            {
                                                if (Model.Status == 1)
                                                {
                                                    <span class="text-success"><i class="fa fa-check-circle-o"></i> <text>@ICB.Business.Entities.Apps.DocumentStatus.GetStatusText(Model.Status)</text></span>
                                                }
                                                else
                                                {
                                                    <text>@ICB.Business.Entities.Apps.DocumentStatus.GetStatusText(Model.Status)</text>
                                                }
                                            }
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Mô tả ngắn:</label>
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control",@cols="20", @rows="5" })

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Ảnh đại diện: <span class="text-required">(*)</span></label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div>
                                        <img class="img-thumbnail" style=" min-height:100px; max-height:300px; margin-bottom: 10px;" src="@if (Model != null) { <text>@Model.Path</text> } ">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    @Html.TextBoxFor(x => x.Path, new {@id="image", @class = "form-control", @readonly = "readonly" })
                                                    <div class="input-group-btn">
                                                        <a id="browser" class="btn btn-primary" data-dismiss="fileupload">Duyệt ảnh...</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label class="control-label">Nội dung:</label>
                            @Html.TextAreaFor(x=>x.Content,new { @class="form-control",@id="txtContent", @style = "width:100%", @rows = "10", @data_sample = "1", @data_sample_short = "" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" id="btn-vanban-save" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Lưu</button>
                        <button type="button" onclick="VANBAN_DELETE(@Model.ID,false);" id="btn-vanban-remove" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;&nbsp;Xóa</button>
                        <button type="button" class="btn btn-default" id="btn-vanban-cancel"><i class="fa fa-remove"></i>&nbsp;&nbsp;Hủy</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript">
            $(document).ready(function () {
                CKEDITOR.replace('txtContent', {
                    customConfig: '/Plugins/ckeditor/config.js'
                });

            });
</script>


