@model ICB_Website.UI.Models.Entities.Register
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html">Chứng nhận quốc tế</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Đăng ký thành viên</p>
        @using (Html.BeginForm("PostRegister", "Account", FormMethod.Post))
        {
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.Fullname, new { @class = "form-control", @placeholder = "Họ tên" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Fullname)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="form-group has-feedback">

                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(x => x.RetypePassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu" })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.RetypePassword)
            </div>
            <span>@Html.ValidationMessage("registerError")</span>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input id="ckb-dangky-dieukhoan" type="checkbox"> Tôi đồng ý với các <a href="#">điều khoản</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" id="btn-register-submit" disabled class="btn btn-primary btn-block btn-flat">Đăng ký</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <a href="@Url.Action("Login","account")" class="text-center">Đã có tài khoản</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ckb-dangky-dieukhoan').on('ifChanged',function (e) {
                if ($(this).is(':checked')) {
                    $('#btn-register-submit').removeAttr("disabled");
                } else {
                    $('#btn-register-submit').attr({ "disabled":'disabled'});
                }
            });
        });
    </script>
    }


