@model ICB.Business.Models.SystemConfig
@{
    ViewBag.Title = "Admin: Thông tin trang web";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div data-controller="website">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Thông tin chi tiết</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal form-no-bottom" id="frm-setting-website" onsubmit="return false" novalidate>
                <input type="hidden" name="ID" />
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Tên công ty<span class="text-required">(*)</span>: </label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x=>x.Name, new { @class="form-control",@rows="2", @placeholder= "Tên công ty" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Tên công ty (tiếng anh):</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.NameENG, new { @class = "form-control", @rows = "2", @placeholder = "Tên công ty(tiếng anh)" })
                                    <span class="help-block"></span>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Số điện thoại: </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Tel, new { @class = "form-control", @placeholder = "Số điện thoại" })
                                    <span class="help-block"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Hotline:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Hotline, new { @class = "form-control", @placeholder = "Số hotline" })
                                    <span class="help-block"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Email:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Fax:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control", @placeholder = "Fax" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Website:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Website, new { @class = "form-control", @placeholder = "Trang web công ty" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-2">Địa chỉ: </label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control", @rows = "10", @placeholder = "Địa chỉ" })
                                    <span class="help-block"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Logo: </label>
                                <div class="col-md-8">
                                    <img class="img-responsive img-thumbnail" id="img-customer-thumbnail" src="~/Uploads/Images/Koala.jpg" />
                                    <div class="input-group" style="margin-top:15px;">
                                        <input readonly class="form-control" name="ImageURL" id="txtImageURL" alt="" />
                                        <span class="input-group-btn">
                                            <button type="button" id="btn-logo-browser" class="btn btn-primary">Browser</button>
                                        </span>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp; Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;&nbsp; Hủy</button>
                </div>
            </form>
        </div>
    </div>


    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Slide ảnh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal form-no-bottom" id="frm-setting-website-slider" onsubmit="return false" novalidate>
                
                <div class="modal-body">
                    <div class="row">
                        <div id="pnl-slider">
                            @if (ViewData["BANNER"] != null)
                            {
                                foreach (var banner in (List<ICB.Business.Models.SystemConfig>)ViewData["BANNER"])
                                {
                                    <div class="col-md-4 banner-demo" data-id="@banner.ID">
                                        <button class="close" onclick="SETTING_REMOVE_BANNER(@banner.ID);" type="button" title="Xóa">&times;</button>
                                        <img class="img-thumbnail" src="@banner.Name" />

                                    </div>
                                }
                            }
                            <div class="col-md-4 banner-demo" id="button-plus">
                                <a style="width:100%;height:auto;" class="btn-banner-plus img-thumbnail" href="javascript:void(0);" id="btn-banner-plus"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Hồ sơ năng lực</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal form-no-bottom" id="frm-setting-website-hoso" onsubmit="return false" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Đường dẫn hồ sơ:</label>
                            <div class="input-group">
                                <input name="hosonangluc" class="form-control" id="txtHosonangluc" value="@ViewBag.HOSONANGLUC" type="text" />
                                <span class="input-group-btn">
                                    <button id="btn-select-hosonangluc" class="btn btn-success">&nbsp;Chọn năng lực...&nbsp;</button>
                                    @*<button type="button" onclick="SETTING_UPDATE_HOSO();" class="btn btn-primary"><i class="fa fa-save"></i> Lưu </button>*@
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Xem trước:</label>
                            <div class="">
                                <iframe id="iframe-hoso-demo" style="width:100%;height:400px;" src="@ViewBag.HOSONANGLUC"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <label class="control-label">Tiêu đề:</label>
                                <input class="form-control" name="Caption" id="txtCaption" value="@ViewBag.Caption" />
                            </div>
                            <div class="">
                                <label class="control-label">Nội dung:</label>
                                <textarea class="form-control" name="Description" id="txtDescription">@ViewBag.Description</textarea>
                            </div>
                            <div class="text-right" style="margin-top:20px;">
                                <button class="btn btn-primary" onclick="SETTING_UPDATE_HOSO_Description();" type="button"><i class="fa fa-save"></i> Lưu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('txtDescription', {
            height: 300,
            customConfig: '/Plugins/ckeditor/config.js'
        });

    });
</script>