
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ICB.Business.Access.NewsProvider newsProvider = new ICB.Business.Access.NewsProvider();
    var newsRecent = newsProvider.GetRecentPost().Take(3).ToList();
    var news = newsProvider.GetShow_Active().Take(7).ToList();
    var newsFirst = news.Count == 0 ? new ICB.Business.Models.News() : news.FirstOrDefault();
    news = news.Count > 0 ? news.Skip(1).ToList() : new List<ICB.Business.Models.News>();
}

@section TopSlider{
    @Html.Partial("_sectionSlider")
}
@*counter: @ICB.Business.Entities.CounterDemo.counter*@

<section class="widget-area-1 clearfix">
    <div class="widget kopa-list-post-no-thumb slide-tintuc clearfix">
        <div class="list-post-main-2" style="">
            <div class="owl-carousel owl-carousel5" style="display:block;" id="pnl-demo">
                @foreach (var item in newsRecent)
                {
                    <div class="item">
                        <article class="entry-item clearfix ">
                            <div class="entry-thumb">
                                <a href="@Url.Action("Detail","news",new { @id=item.ID })" title="@item.Caption"><img src="@item.ThumbnailURL" alt="@item.Caption" /></a>
                                <div class="thumb-hover">
                                    <div class="thumb-icon">
                                        <span class="icon-top"></span>
                                        <a class="fa fa-link" href="@Url.Action("Detail","news",new { @id=item.ID })" title="@item.Caption"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <header>
                                    <h4 class="entry-title"><a href="@Url.Action("Detail","news",new { @id=item.ID })" title="@item.Caption">@item.Caption</a></h4>
                                    <p class="entry-date">
                                        @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@NDK.ApplicationCore.Models.Common.GetDaysBetweenTimeAndToday(item.PostedDate) @ICB_Website.UI.Resources.RHome.DaysAgo</span>
                                    </p>
                                </header>
                                <p>
                                    @item.ContentReview
                                </p>
                                <a href="@Url.Action("Detail","news",new { @id=item.ID })" class="more-link" title="@item.Caption">@ICB_Website.UI.Resources.RHome.ReadMore<span class="fa fa-angle-double-right "></span></a>
                            </div>
                        </article>
                    </div>
                }

            </div>
        </div>
    </div><!--/end widget.kopa-list-post-no-thumb-->
</section>

<div id="tin-tuc-noi-bat" class="widget kopa-article-list-widget-1 clearfix">
    <h3 class="widget-title"><span class="icon-title fa fa-asterisk"></span>@ICB_Website.UI.Resources.RHome.News<a href="@Url.Action("Index","news")">@ICB_Website.UI.Resources.RHome.AllArticles</a></h3>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb" style="width:220px">
            <a href="@Url.Action("Detail","news",new { @id=newsFirst.ID})" title="@newsFirst.Caption"><img style="width:200px;height:200px" src="@newsFirst.ThumbnailURL" alt="@newsFirst.Caption" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="@Url.Action("Detail","news",new { @id=newsFirst.ID})" title="@newsFirst.Caption"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="@Url.Action("Detail","news",new { @id=newsFirst.ID})" title="@newsFirst.Caption">@newsFirst.Caption</a></h4>
                <p class="entry-date">
                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp; <span>@newsFirst.PostedDate</span>
                </p>
            </header>
            <p>
                @newsFirst.ContentReview
            </p>
            <a href="@Url.Action("Detail","news",new { @id=newsFirst.ID})" class="more-link" title="@newsFirst.Caption">@ICB_Website.UI.Resources.RHome.ReadMore<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <div class="kopa-other-post">
        <h4 class="list-post-title">
            <span>@ICB_Website.UI.Resources.RHome.OtherPost</span>
        </h4>
        <ul class="clearfix">

            @foreach (var item in news)
            {
                <li>
                    <article class="entry-item clearfix ">
                        <div class="entry-thumb">
                            <a href="@Url.Action("Detail","news",new { @id=item.ID})" title="@item.Caption"><img src="@item.ThumbnailURL" alt="@item.Caption" /></a>
                        </div>
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="@Url.Action("Detail","news",new { @id=item.ID})" title="@item.Caption">@item.Caption</a></h4>
                                <p class="entry-date">
                                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@item.PostedDate</span>
                                </p>
                            </header>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
</div>

@{ 
    var documentProvider = new ICB.Business.Access.DocumentProvider();
    var documents = documentProvider.VB_GetRecentPost().Take(7).ToList();
    var documentFirst = documents.FirstOrDefault() == null ? new ICB.Business.Models.Document():documents.FirstOrDefault();
    documents = documents.Count == 0 ? new List<ICB.Business.Models.Document>() : documents.Skip(1).ToList();
}

<div id="kopa-posts-list-two-parts-6" class="widget kopa-article-list-widget-2 clearfix">
    <h3 class="widget-title"><span class="icon-title fa fa-address-book"></span>@ICB_Website.UI.Resources.RHome.Text<a href="@Url.Action("Detail","document")">@ICB_Website.UI.Resources.RHome.AllArticles</a></h3>
    <article class="entry-item clearfix last-item post-754 ">
        <div class="entry-thumb">
            <a href="@Url.Action("vanban","Home",new { @id=documentFirst.ID })" title="@documentFirst.Caption"><img style="height:200px;width:200px" src="@documentFirst.Path" alt="@documentFirst.Caption" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-picture-o" href="@Url.Action("Detail","document",new { @id=documentFirst.ID })" title="@documentFirst.Caption"></a>
                </div>
            </div>
        </div>
        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="@Url.Action("Detail","document",new { @id=documentFirst.ID })" title="@documentFirst.Caption">@documentFirst.Caption</a></h4>
                <p class="entry-date">
                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@documentFirst.CreateTime</span>
                </p>
            </header>
            <p>
                @documentFirst.Description
            </p>
        </div>
    </article>
    <div class="kopa-other-post">
        <h4 class="list-post-title">
            <span>@ICB_Website.UI.Resources.RHome.OtherPost</span>
        </h4>
        <ul class="clearfix">
            @foreach (var item in documents)
            {
                <li>
                    <article class="entry-item clearfix item-other ">
                        <div class="entry-thumb">
                            <a href="@Url.Action("Detail","document",new { @id=item.ID })" title="@item.Caption"><img src="@item.Path" alt="@item.Caption" /></a>
                        </div>
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="@Url.Action("Detail","document",new { @id=item.ID })" title="@item.Caption">@item.Caption</a></h4>
                                <p class="entry-date">
                                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@item.CreateTime</span>
                                </p>
                            </header>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
</div>

@section KhachHang{
    @{ 
        var customerProvider =new ICB.Business.Access.CustomerProvider();
        var khachhang = customerProvider.GetAll().Where(p => p.Status == (int)ICB.Business.Entities.Apps.ModelStatus.Active).ToList();
    }
    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">

            <div class="list-post-main" style="width:100%;">
                <div class="owl-carousel owl-carousel7" style="display:block;opacity:1;">
                    @foreach (var item in khachhang)
                    {
                        <div class="item">
                            <article class="entry-item clearfix">
                                <a href="javascript:void(0);"><img alt="@item.Name" src="@item.Thumbnail" /></a>
                            </article>
                        </div>
                    }

                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}