<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    </head>
<body>
    <div id="top-header" class="container-fluid">
        <div class="container">
            <div class="form-group">
                <ul id="top-menu">
                    <li><a href="@Url.Action("register", "taikhoan")">Đăng ký</a></li>
                    <li>&nbsp;|&nbsp;</li>
                    <li><a href="@Url.Action("login", "taikhoan")">Đăng nhập</a></li>
                    <li>&nbsp;|&nbsp;</li>
                    <li><a href="@Url.Action("index", "lienhe")">Liên hệ</a></li>
                    <li>&nbsp;|&nbsp;</li>
                    <li><a href="#">Sitemap</a></li>
                    <li>&nbsp;|&nbsp;</li>
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-5" style="margin-left: 0px;">
                    <div class="col-md-4">
                        <a class="bv-logo" href="@Url.Action("index", "trangchu")">
                        </a>
                    </div>
                    <div class="col-md-8 bv-name" style="margin-left: 0px;margin-top: 5px;">
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4" style="margin-top: 25px;">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-rounded" height="45" width="45" src="/Content/images/red_cross.png" />
                            </div>
                            <div class="col-md-8">
                                <p class="service-bold">Cấp cứu 24/7</p>
                                <p class="service-normal bv-capcuu"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-top: 25px;">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-rounded" height="45" width="45" src="/Content/images/telephone.png" />
                            </div>
                            <div class="col-md-8">
                                <p class=" service-bold">
                                    Đường dây nóng
                                </p>
                                <p class="service-normal bv-hotline"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-top: 25px;">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="@Url.Action("index", "hoidap")">
                                    <img class="img-rounded" height="45" width="45" src="/Content/images/question.png" />
                                </a>
                            </div>
                            <div class="col-md-8">
                                <p class="service-bold"><a href="@Url.Action("index", "hoidap")">GIẢI ĐÁP Y HỌC</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height: 5px; background-color: #0e61ad;"></div>


    <div class="container">
        @Html.Partial("_PartialNavigation")

        @RenderBody()

        <div class="col-md-4">
            @Html.Partial("_PartialRightContent")
        </div>

    </div>

    @Html.Partial("_PartialFooter")

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

   

  
</body>
</html>
