@model List<ICB.Business.Models.Service>
@{

    ICB.Business.Access.NewsProvider newsProvider = new ICB.Business.Access.NewsProvider();
    var news = newsProvider.GetRecentPost();
}
<aside class="sidebar widget-area-5" style="margin-right:15px;">

    <div class="widget clearfix" id="kopa-services">
        <h3 class="widget-title"><span class="icon-title fa fa-list"></span>@ICB_Website.UI.Resources.RHome.Services</h3>
        <ul class="clearfix">
            @foreach (var item in Model)
            {
                <li class="item item-other">
                    <article class="entry-item clearfix">
                        <a class="entry-item-img">
                            <img src="@item.ThumbnailURL" />
                        </a>
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title" style="font-size:13px;"><a href="@Url.Action("Detail","products",new { id=item.ID })" title="@item.Name">@item.Name</a></h4>
                            </header>
                        </div>
                    </article>
                </li>
            }

        </ul>
    </div>
    <div id="danh-sach-tin-tuc-noi-bat" class="widget kopa-article-list-widget article-icon clearfix">
        <h3 class="widget-title"><span class="icon-title fa fa-inbox"></span>@ICB_Website.UI.Resources.RHome.RecentPost</h3>
        <ul class="clearfix">

            @foreach (var item in news)
            {
                string caption = item.Caption.Length > ICB_Website.UI.Models.HtmlHelper.TitleRecentPostMaxLength ? item.Caption.Substring(0, ICB_Website.UI.Models.HtmlHelper.TitleRecentPostMaxLength) + "..." : item.Caption;
                <li class="item other-item">
                    <article class="entry-item clearfix">
                        <span class="entry-icon fa fa-link"></span>
                        <div class="entry-content">
                            <header>
                                <p class="entry-date">
                                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@Math.Abs(NDK.ApplicationCore.Models.Common.GetDaysBetweenTimeAndToday(item.PostedDate)) @ICB_Website.UI.Resources.RHome.DaysAgo</span>
                                </p>
                                <h4 class="entry-title"><a href="@Url.Action("Detail","news",new { id=item.ID })" title="@item.Caption">@caption</a></h4>
                            </header>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
</aside>
