<!DOCTYPE html>
@{ 
    ICB.Business.Access.SystemConfigProvider systemConfigProvider = new ICB.Business.Access.SystemConfigProvider();
    var info = systemConfigProvider.Get()??new ICB.Business.Models.SystemConfig();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/megafish.css" rel="stylesheet" />
    <link href="~/Content/mega-menu.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Plugins/fotorama-4.6.4/fotorama.css" rel="stylesheet" />
    <link href="~/Content/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Content/xmax-theme.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Scripts/mediaelement/knd-mediaelement.css" rel="stylesheet" />
    <link href="~/Content/icb-style.css" rel="stylesheet" />*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- header -->
    @Html.Partial("_Header")
    <!-- end header-->
    <!--begin body-->

    <div class="wrapper clearfix">
        <div style="border:1px solid #dadada;">
            @RenderSection("TopSlider",false)
            <div class="main-wrapper clearfix">
                @if (ViewBag.IsBreadcrumb == null || ViewBag.IsBreadcrumb == true)
                {
                    var breadcrumbs = (List<ICB_Website.UI.Models.Breadcrumb>)(ViewBag.Breadcrumb ?? new List<ICB_Website.UI.Models.Breadcrumb>());
                    <div class="kopa-breadcrumb clearfix">
                        <span itemscope itemtype="@Url.Action("Index","Home")">
                            <a href="@Url.Action("Index","Home")" itemprop="url">
                                <span itemprop="title">
                                </span>@ICB_Website.UI.Resources.RHome.Home
                            </a>
                        </span>
                        @if (breadcrumbs.Count == 0)
                        {
                            <text>&nbsp;/ &nbsp;</text>
                        }
                        else
                        {
                            for (int i = 0; i < breadcrumbs.Count; i++)
                            {
                                if (i == breadcrumbs.Count - 1)
                                {
                                    <text>&nbsp;/&nbsp;</text>
                                    <span itemscope itemtype="@breadcrumbs[i].URL">
                                        <a class="current-page" href="javascript:;" itemprop="url"><span itemprop="title">@breadcrumbs[i].Name</span></a>
                                    </span>
                                }
                                else
                                {
                                    <text>&nbsp;/&nbsp;</text>
                                    <span itemscope itemtype="@breadcrumbs[i].URL">
                                        <a href="@breadcrumbs[i].URL" itemprop="url"><span itemprop="title">@breadcrumbs[i].Name</span></a>
                                    </span>     }
                            }
                        }


                    </div>
                }

                
                @if (ViewBag.NotRenderSideBar == null || ViewBag.NotRenderSideBar == false)
                {
                    <!--Left SideBar Menu-->
                    @Html.Partial("_LeftSideMenu")
                    <!-- End Left SideBar Menu-->
                    <div class="kopa-main-col" style="margin-right:0px;">
                        <!--  Begin RenderBody  -->
                        @RenderBody()
                        <!-- End RenderBody -->
                    </div>
                }
                else
                {
                    <!--  Begin RenderBody  -->
                    @RenderBody()
                        <!-- End RenderBody -->
                }

            </div>

            @RenderSection("KhachHang",false)

            <!--/end BOTTOM-SIDERBAR-->
            <footer id="kopa-footer" class="" style="padding:20px 0 35px; ">
                <div class="" style="margin-left:350px">
                    <p class="" style="font-size:23px; margin-bottom:10px;">@info.Name</p>
                    
                    <p>Địa chỉ: @info.Address</p>
                    <p>Điện thoại: @info.Tel - Fax: @info.Fax</p>
                    <p>Email: @info.Email</p>
                    <p>Website: @info.Website</p>
                </div>
            </footer>
        </div>
        <p id="back-top"><a href="#top" rel="nofollow"><i class="fa fa-angle-up"></i></a></p>
    </div>

    <!--end body-->

    <script type='text/javascript'>
        /* <![CDATA[ */
        var kopa_variable = {
            "url": {
                "template_directory_uri": location.origin + "/Plugins/themes",
                "ajax": "http:\/\/upsidethemes.net\/demo\/xmax\/wp-admin\/admin-ajax.php"
            }, "template": { "post_id": 1696 }, "contact": { "address": " B7+B9 Building - Tran Thai Tong Street", "marker": "http:\/\/upsidethemes.net\/demo\/xmax\/wp-content\/themes\/xmax-1.0.0\/images\/marker.png" }, "recaptcha": { "status": true }, "i18n": { "SEARCH": "Search...", "LOADING": "Loading...", "LOAD_MORE": "Load more", "VIEW": "View", "VIEWS": "Views", "validate": { "form": { "CHECKING": "Checking", "SUBMIT": "Submit", "SENDING": "Sending..." }, "recaptcha": { "INVALID": "Your captcha is incorrect. Please try again", "REQUIRED": "Captcha is required" }, "name": { "REQUIRED": "Please enter your name", "MINLENGTH": "At least {0} characters required" }, "email": { "REQUIRED": "Please enter your email", "EMAIL": "Please enter a valid email" }, "url": { "REQUIRED": "Please enter your url", "URL": "Please enter a valid url" }, "message": { "REQUIRED": "Please enter a message", "MINLENGTH": "At least {0} characters required" } } }
        };
        var kopa_variable_fonts = ["Roboto:400,500,700", "Open+Sans:300,400,600,700,800"];
/* ]]> */
    </script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/Scripts/js")*@
    @*@Scripts.Render("~/bundles/custom")*@
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Plugins/jssor.slider.min.js"></script>
    <script type='text/javascript' src="~/Plugins/themes/comment-reply.js"></script>
    <script type='text/javascript' src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Plugins/themes/modernizr.js"></script>
    <script type='text/javascript' src="~/Plugins/fotorama-4.6.4/fotorama.js"></script>
    <script src="~/Plugins/themes/owl.carousel.js"></script>
    <script type='text/javascript' src='~/Scripts/custom/custom.js'></script>
    <script type='text/javascript' src='~/Plugins/themes/knd-embed.js'></script>
    <script type='text/javascript' src='~/Scripts/underscore.min.js'></script>
    <script type='text/javascript' src='~/Plugins/themes/knd-util.js'></script>
    <script type='text/javascript' src='~/Scripts/backbone.min.js'></script>
    <script type='text/javascript' src='~/Scripts/mediaelement/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='~/Plugins/themes/knd-playlist.js'></script>
    <script src="~/Scripts/apps/app.js"></script>
</body>
</html>
