@using ICB_Website.UI.Models
@{ 
//List<ICB.Business.Models.Document> list = new List<ICB.Business.Models.Document>();
//ICB.Business.Access.NewsProvider newsProvider = new ICB.Business.Access.NewsProvider();
//ICB.Business.Access.DocumentProvider documentProvider = new ICB.Business.Access.DocumentProvider();
//list.AddRange(documentProvider.TL_GetRecentPost().Take(2).ToList());
//list.AddRange(documentProvider.VB_GetRecentPost().Take(2).ToList());
//var news = newsProvider.GetRecentPost().Take(4).ToList();
}


    @*<section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>
            <h3 class="widget-title">New<span>Stories</span></h3>
            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    @foreach (var item in list)
                    {
                        <div class="item">
                            <article class="entry-item clearfix">
                                <h4 class="entry-title"><a title="@item.Caption" href="@Url.Action("Detail","document",new { id=item.ID})">@if (item.Caption.Length > 40) { <text>@item.Caption.Substring(0, 40)</text>} else {<text>@item.Caption</text> }</a></h4>
                                <span class="entry-date">@item.CreateTime</span>
                            </article>
                        </div>
                    }
                    @foreach (var item in news)
                    {
                        <div class="item">
                            <article class="entry-item clearfix">
                                <h4 class="entry-title"><a title="@item.Caption" href="@Url.Action("Detail","news",new { id=item.ID})">@if (item.Caption.Length > 40)
                                { <text>@item.Caption.Substring(0, 40)</text>}
                                else
                                {<text>@item.Caption</text> }</a></h4>
                                <span class="entry-date">@item.PostedDate</span>
                            </article>
                        </div>
                    }
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>*@

