
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="main-menu">
            <li class="header">ĐIỀU HƯỚNG</li>
            <li class="treeview">
                <a data-nav="dashboard" href="@Url.Action("Index","dashboard",new { area="admin"})">
                    <i class="fa fa-dashboard"></i> <span>Bảng điều khiển</span>
                </a>
            </li>
            <li>
                <a data-nav="news" href="@Url.Action("Index","news",new {area="admin" })">
                    <i class="fa fa-newspaper-o"></i> <span>Quản lý tin tức</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-aqua-gradient">430</small>
                    </span>
                </a>
            </li>
            <li>
                <a data-nav="mailbox" href="@Url.Action("Index","mailbox",new {area="admin" })">
                    <i class="fa fa-envelope"></i> <span>Quản lý hòm thư</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a data-nav="allquestion" href="@Url.Action("allquestion","mailbox",new {area="admin" })">
                            <i class="fa fa-question-circle-o"></i> Tất cả câu hỏi
                            <span class="pull-right-container">
                                <small class="label pull-right bg-blue">32</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-nav="allanswer" href="@Url.Action("allanswer","mailbox",new {area="admin" })">
                            <i class="fa fa-tag"></i> Trả lời
                            <span class="pull-right-container">
                                <small class="label pull-right bg-red">32</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-nav="trash" href="@Url.Action("trash","mailbox",new {area="admin" })">
                            <i class="fa fa-trash-o"></i> Thùng rác
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">32</small>
                            </span>
                        </a>
                    </li>
                </ul>   
            </li>
            <li>
                <a data-nav="feedback" href="@Url.Action("Index","feedback",new {area="admin" })">
                    <i class="fa fa-comment"></i> <span>Phản hồi</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-blue">43</small>
                    </span>
                </a>
            </li>
            <li class=" treeview">
                <a data-nav="document" href="@Url.Action("vanban","document",new {area="admin" })">
                    <i class="fa fa-file-text-o"></i> <span> Văn bản</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">32</small>
                    </span>
                </a>
            </li>
            <li>
                <a data-nav="document-2" href="@Url.Action("tailieu","document",new {area="admin" })">
                    <i class="fa fa-file"></i> <span> Tài liệu</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">VP</small>
                    </span>
                </a>
            </li>
            <li class=" treeview">
                <a data-nav="customer" href="@Url.Action("Index","customer",new {area="admin" })">
                    <i class="fa fa-file-o"></i> <span>Quản lý khách hàng</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">22</small>
                    </span>
                </a>
            </li>
            <li class=" treeview">
                <a data-nav="service" href="@Url.Action("Index","service",new {area="admin" })">
                    <i class="fa fa-server"></i> <span>Quản lý dịch vụ</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">22</small>
                    </span>
                </a>
            </li>
            <li>
                <a data-nav="system" href="#">
                    <i class="fa fa-cog"></i> <span>Quản lý hệ thống</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a data-nav="account" href="@Url.Action("Index","account",new {area="admin" })">
                            <i class="fa fa-tag"></i> Tài khoản
                        </a>
                    </li>
                    <li>
                        <a data-nav="website" href="@Url.Action("Index","setting",new {area="admin" })">
                            <i class="fa fa-tag"></i> Thông tin Website
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-nav="support" href="@Url.Action("Index","support",new {area="admin" })" data-nav="hotro">
                    <i class="fa fa-question-circle-o"></i> <span>Hỗ trợ</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-aqua">SP</small>
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
