@using PagedList.Mvc
@model PagedList.IPagedList<ICB.Business.Models.Document>
@{
    Layout = null;
    int i = 1;
}
<div id="kopa-posts-list-two-parts-tailieu" class="widget kopa-article-list-widget-2 clearfix">
    <h3 class="widget-title"><span class="icon-title fa fa-asterisk"></span>@ICB_Website.UI.Resources.RHome.Document<a href="#">@ICB_Website.UI.Resources.RHome.AllArticles</a></h3>
    <div class="pull-left" style="width:100%">
        <div class="kopa-other-post" style="width:100%;">
            <ul class="clearfix">
                @foreach (var item in Model)
            {
                    <li style="margin:0;padding-top:0;">
                        <article class="entry-item clearfix item-other ">
                            <div class="entry-content">
                                <header>
                                    <h4 class="entry-title" style="color:#0206a9">@i. @item.Caption.ToUpper()</h4>
                                    <p style="padding-left:20px;">
                                       <a href="@item.Path" style="color:#0088ba;"><span class="fa fa-download"></span> @item.Filename</a>
                                    </p>
                                    @*<p class="entry-date">
                                        @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@item.CreateTime</span>
                                    </p>*@
                                </header>
                            </div>
                        </article>
                    </li>
                    i++;
                }
            </ul>

        </div>
        <div class="">
            <div class="kopa-pagination clearfix">
                @{
                    PagedList.Mvc.PagedListRenderOptions pageOption = new PagedListRenderOptions();
                    pageOption.DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded;
                    pageOption.ClassToApplyToFirstListItemInPager = "prev";
                    pageOption.ClassToApplyToLastListItemInPager = "next";
                    pageOption.ContainerDivClasses = new[] { "pagination-container" };
                    pageOption.UlElementClasses = new[] { "pull-right" };
                }
                @Html.PagedListPager(Model, page => Url.Action("Tailieu", "document", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageOption, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "kopa-posts-list-two-parts-tailieu" }))
            </div>
        </div>
    </div>


</div>








