@using PagedList.Mvc
@model PagedList.IPagedList<ICB.Business.Models.Document>
@{

    Layout = null;
    ICB.Business.Models.Document documentFirst = (ICB.Business.Models.Document)ViewBag.documentFirst;
}
<div id="kopa-posts-list-two-parts-6" class="widget kopa-article-list-widget-2 clearfix">
    <h3 class="widget-title"><span class="icon-title fa fa-asterisk"></span>@ICB_Website.UI.Resources.RHome.Text<a href="#">@ICB_Website.UI.Resources.RHome.AllArticles</a></h3>
    <article class="entry-item clearfix last-item post-754 ">
        <div class="entry-thumb">
            <a href="@Url.Action("Detail","document",new { @id=documentFirst.ID })" title="@documentFirst.Caption"><img style="height:250px;" src="@documentFirst.Path" alt="@documentFirst.Caption" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-picture-o" href="@Url.Action("Detail","document",new { @id=documentFirst.ID })" title="@documentFirst.Caption"></a>
                </div>
            </div>
        </div>
        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="@Url.Action("Detail","document",new { @id=documentFirst.ID })" title="@documentFirst.Caption">@documentFirst.Caption</a></h4>
                <p class="entry-date">
                    @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@documentFirst.CreateTime</span>
                </p>
            </header>
            <p>
                @documentFirst.Description
            </p>
        </div>
    </article>

    <div class="pull-left" style="width:46.6%">
        <div class="kopa-other-post" style="width:100%;">
            <h4 class="list-post-title">
                <span>@ICB_Website.UI.Resources.RHome.OtherPost</span>
            </h4>
            <ul class="clearfix">
                @foreach (var item in Model)
            {
                    <li>
                        <article class="entry-item clearfix item-other ">
                            <div class="entry-thumb">
                                <a href="@Url.Action("Detail","document",new { @id=item.ID })" title="@item.Caption"><img src="@item.Path" alt="@item.Caption" /></a>
                            </div>
                            <div class="entry-content">
                                <header>
                                    <h4 class="entry-title"><a href="@Url.Action("Detail","document",new { @id=item.ID })" title="@item.Caption">@item.Caption</a></h4>
                                    <p class="entry-date">
                                        @ICB_Website.UI.Resources.RHome.Posted:&nbsp;<span>@item.CreateTime</span>
                                    </p>
                                </header>
                            </div>
                        </article>
                    </li>
                }
            </ul>

        </div>
        <div class="">
            <div class="kopa-pagination clearfix">
                @{
                    PagedList.Mvc.PagedListRenderOptions pageOption = new PagedListRenderOptions();
                    pageOption.DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded;
                    pageOption.DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded;
                    pageOption.ClassToApplyToFirstListItemInPager = "prev";
                    pageOption.ClassToApplyToLastListItemInPager = "next";
                    pageOption.ContainerDivClasses = new[] { "pagination-container" };
                    pageOption.UlElementClasses = new[] { "pull-right" };

                }
                @Html.PagedListPager(Model, page => Url.Action("Vanban", "document", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageOption, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "kopa-posts-list-two-parts-6" }))
            </div>
        </div>
    </div>
    
    
</div>








